version: '3.8'

services:
  db:
    image: postgres:15
    container_name: bug_tracker_db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=bootcamp
      - POSTGRES_DB=bug_tracker_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: